body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poem-container {
  border: 1px solid black;
  line-height: 2em;
}

.choose-article {
  border: 1px solid black;
  text-align: left;
}

.how-to-use {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  text-align: left;
}

.all-articles {
  border: 1px solid black;
}
