body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCF0E9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poem-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  place-items: center;
  /* border: 1px solid black; */
}

.medium-poem-container {
  /* display: grid; */
  width: 50vw;
  /* place-items: center; */
  text-align: left;
  border-left: 3px solid  rgb(184, 8, 60);
  padding-left: 2vw;
}

.poem-Btn {
  border-bottom: 3px solid  rgb(184, 8, 60);
  border-top: none;
  border-right: none;
  border-left: none;
  width: 20vw;
  background-color: #FCF0E9;
  font-family: 'Didot';
  font-size: x-large;
  ;
}

