body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCF0E9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Canela Deck Medium';
}

.poem-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid black; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* border: 1px solid black; */
}

/* .medium-poem-container {
  display: grid;
  width: 50vw;
  place-items: center;
  text-align: left;
  border-left: 3px solid  rgb(84, 55, 209);
  padding-left: 2vw;
} */

.poem-Btn {
  border-bottom: 3px solid  rgb(84, 55, 209);
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #FCF0E9;
  font-family: 'Didot';
  font-size: x-large;
  margin-bottom: 4vw;
}

.article-container {
  height: 100vw;
  width: 100vw;
}

.title-container {
  width: 100w;
  height: 20vw;
  margin: 0 auto;
  margin-top: 15vw;
}

.title {
  font-size: 7vw;
  font-family: 'Didot';
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  border-bottom: 3px solid  rgb(84, 55, 209);
}

.title:hover{
  color: rgb(84, 55, 209);
}

.line-container-one {
  text-align: left;
}

.line-container-two {
  text-align: right;
}

.line-container-three {
  text-align: left;
}

.line-container-four {
  text-align: right;
}

.line-container-five {
  text-align: left;
}

.line-container-six {
  text-align: right;
}

.line-container-seven {
  text-align: left;
}



